html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong,
b {
  font-weight: bold;
}
em,
i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

:root {
  --left-color: #4caf50;
  --right-color: #ccc;
  --title-color: #424242;
  --default-color: #fff;
  --link-color: #0056b3;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.4;
}

[class^="col"] {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

li {
  list-style: none;
}

/* LEFT SIDE */
.left-side {
  background-color: var(--left-color);
  order: 1;
}

.photo-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.photo {
  border-radius: 50%;
  height: 210px;
}

.title-container-left {
  align-items: center;
  background-color: var(--title-color);
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: 1.5rem;
}

.title-left {
  color: var(--default-color);
  text-transform: uppercase;
}

.text-leftside {
  color: var(--default-color);
  text-align: justify;
  margin-bottom: 25px;
}

.contact-container {
  margin: 30px 35px;
}

.link {
  color: var(--link-color);
}

.about-container {
  margin: 40px 35px 550px;
}

.loisirs-container {
  align-items: center;
  display: flex;
  height: 150px;
  justify-content: space-around;
  margin: 0 35px;
}

.loisir2 {
  margin: 0 20px;
}

.fas {
  color: var(--default-color);
  font-size: 3rem;
}

/* RIGHT SIDE */
.right-side {
  background-color: var(--right-color);
  order: 2;
  padding: 0 50px 0 60px;
}

.title-container-right {
  border-bottom: var(--left-color) 3px solid;
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  padding-bottom: 12px;
}

.title-right {
  font-weight: bold;
  margin-left: 28px;
  text-transform: uppercase;
}

.name-container {
  margin: 80px 0 80px;
}

.name {
  font-size: 3.3rem;
  text-transform: uppercase;
}

.name span {
  color: var(--left-color);
}

.title-name {
  font-size: 1.8rem;
}

.title-name:after {
  content: "";
  background-color: var(--left-color);
  height: 3px;
  left: 60px;
  margin-bottom: 75px;
  position: absolute;
  top: 190px;
  width: 105px;
}

.fa-chalkboard-teacher,
.fa-briefcase,
.fa-check-square,
.fa-dot-circle {
  color: var(--title-color);
}

.fa-dot-circle {
  font-size: 1rem;
  margin-right: 10px;
  margin-top: 4px;
}

.right-side .row {
  margin: 0;
}

.formation-container .row,
.experience-container .row,
.recommandations-container.row {
  margin: 40px 0;
}

.left-block {
  width: 150px;
}

.left-block p {
  width: 150px;
}

.right-block {
  margin-left: 80px;
}

.title-item {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.position-item {
  margin-bottom: 7px;
  width: 380px;
}

.text-item {
  width: 380px;
}

.list-two {
  margin-left: 60px;
}

.name-reco,
.position-reco,
.tel-reco {
  font-weight: 600;
}

.name-reco {
  text-transform: uppercase;
}

/* MEDIA QUERIES */
@media (max-width: 1045px) {
  .name {
    font-size: 2.7rem;
  }

  .title-name {
    font-size: 1.7rem;
  }

  .title-name:after {
    top: 175px;
    width: 100px;
  }

  .list-two {
    margin-left: 30px;
  }
}

@media (max-width: 992px) {
  .photo {
    height: 180px;
  }

  .text-leftside {
    text-align: unset;
  }

  .about-container {
    margin: 40px 25px 500px;
  }

  .loisirs-container {
    height: 200px;
  }

  .right-side {
    background-color: var(--right-color);
    padding: 0 20px 0 30px;
  }

  .name {
    font-size: 2.4rem;
  }
  .title-name {
    font-size: 1.5rem;
  }

  .title-name:after {
    left: 30px;
    top: 165px;
    width: 88px;
  }

  .right-block {
    margin-left: 40px;
  }

  .position-item,
  .text-item {
    width: 250px;
  }

  .recommandations-container.row p {
    font-size: 0.9rem;
  }

  .list-two {
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .text-leftside {
    text-align: justify;
  }

  .photo {
    height: 220px;
  }

  .contact-container {
    position: relative;
  }

  .contact-container .text-leftside {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
  }

  .about-container {
    margin: 40px 25px 50px;
  }

  .loisirs-container {
    height: 150px;
  }

  .title-right {
    font-size: 1.3rem;
    margin-left: 20px;
  }

  .name {
    margin: 48px auto 8px;
    line-height: 1.1;
  }

  .title-name:after {
    top: 160px;
  }

  .right-block {
    margin-left: 20px;
    margin-top: 15px;
  }

  .title-item {
    font-size: 1rem;
  }

  .list-one,
  .list-two {
    margin: 20px auto;
  }
}

@media (max-width: 428px) {
  .title-name:after {
    top: 200px;
  }
}
